{
	http_port 8080
	auto_https off
}

#It's just a sourcefile... 
#http://alumnimap.csh.rit.edu {
#    redir https://members.csh.rit.edu/~bencentra/alumni-map{uri} permanent
#}

http://application.csh.rit.edu, http://apply.csh.rit.edu {
    redir https://docs.google.com/document/d/1nIZote5v8hvhJ16IlCHA3N_44hr5FnVCP5vO4WqgWSo/edit?usp=sharing permanent
}

http://calendar.csh.rit.edu {
    redir https://www.google.com/calendar/embed?src=rti648k5hv7j3ae3a3rum8potk%40group.calendar.google.com&ctz=America/New_York permanent
}

http://ceph.csh.rit.edu {
    reverse_proxy {
        to https://ceph-mon01-nrh.csh.rit.edu:8443 https://ceph-mon02-nrh.csh.rit.edu:8443 https://ceph-mon03-nrh.csh.rit.edu:8443
        transport http {
	    tls_insecure_skip_verify
        }
        lb_policy random
        lb_retries 3
        health_uri /
    }
}

http://chom.csh.rit.edu {
    redir https://www.youtube.com/watch?v=zocRi2JaAyU permanent
}

http://donate.csh.rit.edu {
    redir https://www.rit.edu/giving/ComputerScienceHouse permanent
}

http://enforcement.csh.rit.edu, http://enforcementguidelines.csh.rit.edu {
    redir https://docs.google.com/spreadsheets/d/1-GqLrfIXvPquWrr33p_Zr8IwUp-xUyCcDHDC-Up6hDQ/edit?usp=sharing permanent
}

http://hss.csh.rit.edu {
    redir https://docs.google.com/presentation/d/1RPrIwa7Eka0RkVyhetd14gqrtcprehyBaDaAE9x-ouw/edit?usp=sharing permanent
}

http://imps.csh.rit.edu {
    redir https://docs.google.com/spreadsheets/d/1JG2NbeU3tFX_eyU8ttWFVy41CNyUJmZps_obGilS5a0 permanent
}

http://merch.csh.rit.edu {
    redir https://campusgroups.rit.edu/store?store_id=3173 permanent
}

http://opcommathon.csh.rit.edu {
    redir https://docs.google.com/document/d/15NDost-8GBQBWIgBGd9DOudttbdSCOo3VS1ZWY8jYCk/edit temporary
}

http://segfault.csh.rit.edu {
    redir https://gallery.csh.rit.edu/view/dir/698 permanent
}

http://slack.csh.rit.edu {
    redir https://cshrit.slack.com permanent
}

http://spending.csh.rit.edu {
    redir https://docs.google.com/spreadsheets/d/1zLA7CWt1rNgeqwUCiex5-iofAZ-DndgqPAxM3FzKmhY/edit?usp=sharing permanent
}

http://zoom.csh.rit.edu {
    redir https://rit.zoom.us/my/lhg9793 permanent
}

http://relay.csh.rit.edu {
    redir http://main.acsevents.org/site/TR?team_id=2734076&pg=team&fr_id=107231&s_locale=en_US&et=yT1GZzTwT_CSAuxP2wF2_q8xYRvv3TkovL0YIqZ0DGm9eoSK_7lGYA&s_tafId=2505960 permanent
}
